body {
    background-color: #254995;
    margin: auto;
    overflow: auto;
}

/* 데스크톱 */
/* nav */
.nav {
    padding: 1px;
    height: 60px;
    background-color: #ffffff;
}

ul {
    list-style: none;
    justify-content: center;
    font-size: large;
}

ul#nav-list {
    display: flex;
    column-gap: 18rem;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

.curtain {
    display: flex;
    flex-direction: row;
}

.curtain .c {
    background-color: #ffffff;
    width: 320px;
    height: 75px;
    border-radius: 0% 0% 300% 300%;
}

a {
    text-decoration: none;
    color: black;
}

a.nav-link {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

a.nav-link:hover {
    color: black;
    font-weight: bold;
    font-size: 15pt;
}

/* content */
.container{
    height: auto;
    margin: 10px 40px 0px 40px;
    background-color: #D3D3D3;
    border-radius: 30px 30px 0px 0px;
    padding-top: 35px;
}

.promote {
    background-color: #ffffff;
    height: 200px;
    color: #ffffff;
    font-size: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.promote span {
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}

.promote span+span {
    color: red;
    font-weight: bold;
}

.pet-title {
    width: 1155.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.pet-row {
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
    align-items: center;
}

/* 펫 팁 카드 */
span {
    display: inline-block;
}

.pet-tip {
    width: 29rem;
    height: 9.7rem;
    margin: 2% 0 0 4%;
    border: 2px solid #000;
    border-radius: 1.1rem;
    float: left;
    background-color: rgb(222, 222, 222);
    box-shadow:  -2px 4px 4px -2px #3f3f3f;
}

.tip-img {
    width: 9.8rem;
    height: 9.7rem;
    margin: 0 0 0 16px;
    float: left;
}

.tip-text {
    margin: 10% 0 0 1.5%;
    display: inline-block;
}

.tip-title {
    font-size: 18px;
    font-weight: bold;
}

.tip-content {
    font-size: 14px;
    color: #515151;
}

/* 테블릿 */
@media screen and (min-width:768px) and (max-width:1023px){
    .curtain .c {
        background-color: #ffffff;
        width: 320px;
        height: 40px;
        border-radius: 0% 0% 300% 300%;
    }

    ul#nav-list {
        display: flex;
        column-gap: 9rem;
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }

    a.nav-link {
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    /* content */
    .promote {
        height: 100px;
        font-size: 40px;
    }

    .promote span {
        font-size: 35px;
    }

    .pet-title {
        width: 688px;
        font-size: 15px;
        margin: 5% 0 0.5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pet-tip {
        width: 24rem;
        height: 7rem;
        margin: 2% 0 0 4%;
    }
    
    /* 펫 팁 카드 */
    .tip-img {
        width: 98px;
        height: 97px;
        margin: 7px 0 7px 10px;
    }

    .tip-text {
        margin: 6% 0 0 3%;
    }

    .tip-title {
        font-size: 16px;
    }

    .tip-content {
        font-size: 13px;
    }
}

/* 모바일 */
@media screen and (min-width:767px){
    .curtain .c {
        width: 320px;
        height: 30px;
    }

    ul#nav-list {
        display: flex;
        column-gap: 6rem;
    }

    a.nav-link {
        font-size: 18px;
    }

    /* content */
    .promote {
        height: 80px;
        font-size: 30px;
    }

    .promote span {
        font-size: 30px;
    }

    /* .pet-title {
        width: 687.2px;
        font-size: 15px;
        margin: 5% 0 1% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .pet-title {
        /* width: 687.2px; */
        width: 100%;
        font-size: 20px;
        margin: 3% 0 1% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pet-tip {
        width: 22rem;
        height: 6rem;
        margin: 2% 0 0 4%;
    }
    
    /* 펫 팁 카드 */
    .tip-img {
        width: 78px;
        height: 77px;
        margin: 7px 0 7px 10px;
    }

    .tip-text {
        margin: 5.5% 0 0 3.5%;
    }

    .tip-title {
        font-size: 15px;
    }

    .tip-content {
        font-size: 13px;
    }
}

/* footer */
footer{
    height: 60px;
    background-color: #000080;
    margin: 0px;
}

footer .footer-radius{
    height: 35px;
    background-color: #D3D3D3;
    margin: 0px 40px 0px 40px;
    border-radius: 0px 0px 20px 20px;
}