body {
    background-color: #254995;
    margin: auto;
    overflow: auto;
}

/* nav */
.nav {
    padding: 1px;
    height: 40px;
    background-color: #ffffff;
}

ul {
    list-style: none;
    justify-content: center;
    font-size: large;
}

ul#nav-list {
    display: flex;
    column-gap: 14rem;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

.curtain {
    display: flex;
    flex-direction: row;
}

.curtain .c {
    background-color: #ffffff;
    width: 320px;
    height: 75px;
    border-radius: 0% 0% 300% 300%;
}

a {
    text-decoration: none;
    color: black;
}

a.nav-link {
    color: black;
    font-weight: bold;
}

a.nav-link:hover {
    color: black;
    font-weight: bold;
    font-size: 15pt;
}


/* content */
.container{
    height: auto;
    margin: 10px 40px 0px 40px;
    background-color: #D3D3D3;
    border-radius: 30px 30px 0px 0px;
    padding-top: 10px;
    padding-bottom: 30px;
}

@media screen and (min-width:1024px) {
/* filter */
.filter-container {
    width: 15.1875rem;
    height: 40px;
    background-color: #ffffff;
    margin: 2% 0 0 4%;
    border-radius: 0.3rem;
}

.filter-img {
    width: 25px;
    height: 25px;
    margin: 10px;
    float: left;
}

.filter-text {
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* card */
.card-white-bg {
    width: 200px;
    background-color: white;
    border-radius: 0.3rem;
}

.kg-title{
    font-size: 12px;
    color: #525252;
}

.kg-name {
    font-size: 13px;
    font-weight: bold;
}

.kg-content {
    font-size: 12px;
    color: #929292;
    margin-top: 5px;
}

.kg-img {
    width: 200px;
    height: 190px;
}

.kg-info {
    margin: 0 2% 0 2%;
}

.card-row {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    width: 100%;
    margin: 4% 0 0 0;
    justify-content: center;
    align-items: center;
}

.card-row2 {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
    width: 100%;
    margin: 4% 0 0 0;
    justify-content: center;
    align-items: center;
}
}

/* 테블릿 */
@media screen and (min-width:768px)
and (max-width:1023px){
    .nav {
        height: 45px;
    }
    
    ul#nav-list {
        display: flex;
        column-gap: 8rem;
    }
    
    .curtain {
        display: flex;
        flex-direction: row;
    }
    
    .curtain .c {
        background-color: #ffffff;
        width: 320px;
        height: 75px;
        border-radius: 0% 0% 300% 300%;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    a.nav-link {
        color: black;
        font-weight: bold;
    }
    
    a.nav-link:hover {
        color: black;
        font-weight: bold;
        font-size: 15pt;
    }
    
    /* content */
    .container{
        height: auto;
        margin: 10px 40px 0px 40px;
        background-color: #D3D3D3;
        border-radius: 30px 30px 0px 0px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    /* filter */
    .filter-container {
        width: 15.1875rem;
        height: 40px;
        background-color: #ffffff;
        margin: 2% 0 0 4%;
        border-radius: 0.3rem;
    }
    
    .filter-img {
        width: 25px;
        height: 25px;
        margin: 10px;
        float: left;
    }
    
    .filter-text {
        height: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    /* card */
    .card-white-bg {
        width: 200px;
        background-color: white;
        border-radius: 0.3rem;
    }
    
    .kg-title{
        font-size: 12px;
        color: #525252;
    }
    
    .kg-name {
        font-size: 13px;
        font-weight: bold;
    }
    
    .kg-content {
        font-size: 12px;
        color: #929292;
        margin-top: 5px;
    }
    
    .kg-img {
        width: 200px;
        height: 190px;
    }
    
    .kg-info {
        margin: 0 2% 0 2%;
    }
    
    .card-row {
        display: flex;
        flex-flow: wrap;
        gap: 1rem;
        width: 100%;
        margin: 4% 0 0 0;
        justify-content: center;
        align-items: center;
    }
    
    .card-row2 {
        display: flex;
        flex-flow: wrap;
        gap: 1rem;
        width: 100%;
        margin: 3% 0 0 0;
        justify-content: center;
        align-items: center;
    }

    .pet{
        width: 250px;
        height: 290px;
        background-color: whitesmoke;
        margin: 30px;
    }
    img{
        width: 250px;
        height: 200px;
    }
    .text{
        display: block;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }
    .p1{margin: auto;padding: auto; font-weight:bold ;}
    .p2{margin: auto;padding: auto; font-weight:bold ;}
    .p3{margin: 4px 0 0 0;padding: auto; color: grey ;}
}


/* 모바일 */
@media screen and ( max-width:767px){
    .pet{
        width: 250px;
        height: 290px;
        background-color: whitesmoke;
        margin: 30px;
    }
    img{
        width: 250px;
        height: 200px;
    }
    .text{
        display: block;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }
    .p1{margin: auto;padding: auto; font-weight:bold ;}
    .p2{margin: auto;padding: auto; font-weight:bold ;}
    .p3{margin: 4px 0 0 0; padding: auto; color: grey;}
}


/* footer */
footer{
    height: 60px;
    background-color: #000080;
    margin: 0px;
}

footer .footer-radius{
    height: 35px;
    background-color: #D3D3D3;
    margin: 0px 40px 0px 40px;
    border-radius: 0px 0px 20px 20px;
}