body{
    /*background-color: yellow;  */
    background-color: #254995;
    margin: auto;
 }
 .div-menubox {
    padding: 1px;
    height: 40px;
    background-color: #ffffff;
}
 ul {
    list-style: none; /* list 점 없애기 */
    justify-content: center;
    font-size: large;

}
.curtain{
    display: flex;
    flex-direction: row;

}
a {
    text-decoration: none;
    color: black;
}

a.nav-link {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.container .search .color{
    background-color: #e6e8eb;
    padding: 15px 41px;
    white-space:nowrap;
}
.jiyeog-color{
    background-color: #e6e8eb;
    padding: 15px 25px;
    margin-right: 22px;
    white-space:nowrap;
}

/*아랫줄 고양이*/
.container2{
    display: flex;
    justify-content: center;
    background-color: #D3D3D3;
}
/*윗줄 고양이*/
.container3{
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
    flex-wrap: wrap;
}

/*데스크톱*/
@media screen and (min-width:1024px) {
    ul#nav-list {
        display: flex; /* 기본값: 수평 방향 */
        column-gap: 12rem; /*25px*/
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }
    /*커튼모양*/
    .curtain .c1{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c2{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c3{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c4{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c5{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c6{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}

    /*검색바*/
    .container .jiyeog{
        margin: 10px 0px;
        background-color: white;
        height: 51px;
        display: flex;
        align-items: center;
    }
    .jiyeog-color{
        background-color: #e6e8eb;
        padding: 15px 25px;
        margin-right: 22px;
    
    }
    .container .search{
        margin: 10px 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 400px;
    
    }
    
    .container .search .search-box{
        border: solid 0.5px #000;
        margin-left: 20px;
        text-align: left;
        line-height: 28px;
        width: 450px;
    }
    .icon{
        font-size: 30px;
        margin: 5px;
    }

    .container{
        height: 860px;
        margin: 30px 40px;
        background-color: #D3D3D3;
        border-radius: 30px;
        padding-top: 35px;
    
    }
    /*카드*/
.pet{
    width: 255px;
    height: 290px;
    background-color: whitesmoke;
    margin: 30px;
}
img{
    width: 255px;
    height: 200px;
}
.text{
    display: block;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.p1{margin: auto;padding: auto; font-weight:bold ;}
.p2{margin: auto;padding: auto; font-weight:bold ;}
.p3{margin: 4px 0 0 0;padding: auto; color: grey ;}
}

/*테블릿*/
@media screen and (min-width:768px)
and (max-width:1023px){
    ul#nav-list {
        display: flex; /* 기본값: 수평 방향 */
        column-gap: 9rem; /*25px*/
        justify-content: center;
        flex-direction: row;
    
    }
    .curtain .c1{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c2{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c3{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c4{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}
    .curtain .c5{background-color: #ffffff;width: 320px;height: 75px;border-radius: 0% 0% 300% 300%;}

    /*검색바*/
    .container .jiyeog{
        margin: 10px 0px;
        background-color: white;
        height: 51px;
        display: flex;
        align-items: center;
    }
    

    .container .search{
        margin: 10px 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 300px;
    }
    

    .container .search .search-box{
        border: solid 0.5px #000;
        margin-left: 20px;
        text-align: left;
        line-height: 28px;
        width: 200px;
    }
    .icon{
        font-size: 30px;
        margin: 5px;
    }


    .container{
        height: 700px;
        margin: 30px 40px 0px 40px;
        background-color: #D3D3D3;
        border-radius: 30px 30px 0px 0px;
        padding-top: 30px;
    }
    .pet{
        width: 180px;
        height: 220px;
        background-color: whitesmoke;
        margin: 20px;
        padding: 10px;
    }
    img{
        width: 180px;
        height: 150px;
    }
    .text{
        display: block;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }
    .p1{margin: auto;padding: auto; font-weight:bold ; font-size: 13px;}
    .p2{margin: auto;padding: auto; font-weight:bold ; font-size: 13px;}
    .p3{margin: 4px 0 0 0;padding: auto; color: grey ; font-size: 12px;}
    
    
}
/*모바일*/
@media screen and ( max-width:767px){
    ul#nav-list {
        display: flex; /* 기본값: 수평 방향 */
        column-gap: 7rem; /*25px*/
        justify-content: center;
        flex-direction: row;
    
    }
    .curtain .c1{background-color: #ffffff;width: 320px;height: 60px;border-radius: 0% 0% 300% 300%;}
    .curtain .c2{background-color: #ffffff;width: 320px;height: 60px;border-radius: 0% 0% 300% 300%;}
    .curtain .c3{background-color: #ffffff;width: 320px;height: 60px;border-radius: 0% 0% 300% 300%;}
    .curtain .c4{background-color: #ffffff;width: 320px;height: 60px;border-radius: 0% 0% 300% 300%;}

    .container{
        height: 515px;
        margin: 30px 40px 0px 40px;
        background-color: #D3D3D3;
        border-radius: 30px 30px 0px 0px;
        padding-top: 35px;
    }
    /*검색바*/
    .container .jiyeog{
        margin: 10px 0px;
        background-color: white;
        height: 51px;
        display: flex;
        align-items: center;
    }

    .container .search{
        margin: 10px 0px;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 300px;
    }

    .container .search .search-box{
        border: solid 0.5px #000;
        margin-left: 20px;
        text-align: left;
        line-height: 28px;
        width: 200px;
    }
    .icon{
        font-size: 30px;
        margin: 5px;
    }


    .container{
        height: 700px;
        margin: 30px 40px 0px 40px;
        background-color: #D3D3D3;
        border-radius: 30px 30px 0px 0px;
        padding-top: 20px;
    }
    .pet{
        width: 180px;
        height: 220px;
        background-color: whitesmoke;
        margin: 15px;
        padding: 10px;
    }
    img{
        width: 180px;
        height: 150px;
    }
    .text{
        display: block;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }
    .p1{margin: auto;padding: auto; font-weight:bold ; font-size: 13px;}
    .p2{margin: auto;padding: auto; font-weight:bold ; font-size: 13px;}
    .p3{margin: 4px 0 0 0;padding: auto; color: grey ; font-size: 12px;}
    
    
    
    
}